<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Sus horas medicas:</h3>
  <ion-list>
    <ion-item-sliding *ngFor="let horaMedica of horasMedicas">
      <ion-item [ngClass]="horaMedica.puntual == false ? 'redClass': 'mainClass'">
      <ion-avatar item-start *ngIf="horaMedica.puntual == false">
        <ion-icon name="timer" style="font-size: 30px; color: #ffffff;"></ion-icon>
      </ion-avatar>
      <p *ngIf="horaMedica.puntual == false" class="conRetraso">HORA CON RETRASO</p>
        Dr: {{horaMedica.doctor}}
        <br> Fecha: {{horaMedica.fecha}} {{horaMedica.hora}}
        <br> Centro Medico: {{horaMedica.centro}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="eliminarReserva(horaMedica)">
          <ion-icon large name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="confirmarRetraso(horaMedica)">
          <ion-icon large name="time"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button ion-button secondary block (click)="registrarHora()">Crear Reserva</button>
</ion-content>